/* 没有模块作用域 */

/* 注意 被local包裹起来的类名，会被模块化，默认情况下，都有类名和ID都会被模块化 */
:local(.title){
    color: red;
    text-align: center;
    font-weight: 200;
}

/* css 模块化只针对类名选择器和ID选择器生效*/
/* CSS模块化不会将标签模块化 */
/* h1{
    font-style: italic;
    
} */

/* 注意 被global()包裹起来的类名，不会被模块化，而是全局生效 */
:global(.test){
    font-style: italic;
}